<!DOCTYPE html>
<html lang="en">
  <body>
    <div style="text-align: center">
      <h2>Upload image</h2>
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="image" />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
